@page "/test"

<AbsolutePanel AutoResize="true" Top="56" Left="250">
    <VerticalSliderPanel LeftPanelStartingWidth="400">
        <LeftChildContent>
            <div>
                <h3> test1</h3>
            </div>
        </LeftChildContent>
        <RightChildContent>
            <div>
                <h3> test2</h3>
            </div>
        </RightChildContent>
    </VerticalSliderPanel>
</AbsolutePanel>







@code {

}
